name: workspace
publish_to: "none"

environment:
  sdk: ^3.9.0
workspace:
  - packages/netglade_analysis
  - packages/netglade_analysis/example
  - packages/netglade_flutter_utils
  - packages/netglade_flutter_utils/example
  - packages/netglade_utils
  - packages/netglade_utils/example

dev_dependencies:
  melos: ^7.0.0-dev.7

melos:
  scripts:
    # ANALYZING
    lint:
      run: melos run -- lint:dart && melos run lint:dcm
      description: Run all static analysis checks.

    lint:dart:
      run: melos exec -c 10 -- dart analyze --fatal-infos
      description: Run Dart static analysis checks.

    lint:dcm:
      run: melos exec -c 10 -- dcm analyze . --fatal-style --fatal-performance --fatal-warnings
      description: Run DCM static analysis checks.
    # TESTING
    test:
      run: melos exec -- flutter test
      packageFilters:
        dirExists:
          - test
    # CLEAN
    clean:
      run: melos exec -- flutter clean
